.pretty {
  margin: 10px;
  border-radius: 5px;
  border-color: lightslategray;
  border-style: solid;
  border-width: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: 85vh;
}

.row {
  padding-top: 10px;
  margin: 10px;
  max-height: 50rem;
  scroll-snap-type: y mandatory;
}

.col-title {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}

.scroll-snap-child {
  scroll-snap-align: start;
}
