<div class="row">
  <div class="col-md bg-dark text-light">
    <div class="col-title">One of three columns</div>
    <p>Hi I'm a fancy column</p>
    <app-comments></app-comments>
  </div>
  <div class="col-md bg-dark text-light">
    <div class="col-title">One of three columns</div>
    <p>Hello, I'm another fancy column</p>
    <app-comments></app-comments>
  </div>

  <div class="col-md bg-dark text-light">
    <div class="col-title">One of three columns</div>
    <p>I bet those other two think they're better than me</p>
    <app-comments></app-comments>
  </div>
</div>
