<div class="row">
  <div class="col-sm bg-dark text-light rounded pretty d-block">
    <div class="col-title">One of three columns</div>
    <app-comments></app-comments>
  </div>
  <div class="col-sm bg-dark text-light rounded pretty d-none d-md-block">
    <div class="col-title">One of three columns</div>
    <app-comments></app-comments>
  </div>
  <div class="col-sm bg-dark text-light rounded pretty d-none d-lg-block">
    <div class="col-title">One of three columns</div>
    <app-comments></app-comments>
  </div>
</div>
