<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Reddit Twitch Chat</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="changeCollapsed()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-fixed-top navbar-collapse"
    id="navbarSupportedContent"
    [collapse]="isCollapsed"
    [isAnimated]="true"
  >
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Add Stream
      </button>
    </form> -->
    <button type="button" class="btn btn-primary" (click)="openModal(template)">
      Add URL
    </button>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="stuff">
        <input
          type="text"
          class="form-control"
          placeholder="URL"
          aria-label="URL"
        />
      </div>
    </ng-template>
  </div>
</nav>
