/* You can add global styles to this file, and also import other style files */
body {
  background-color: #282a36;
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.bg-dark  {
  background-color: #44475a !important;
}
